* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.iphone-case {
    width: 300px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50px;
    z-index: 1;

}


.iphone-frame {
    position: relative;
    width: 300px;
    height: 650px;
    box-shadow: 20px 8px 32px 0 rgba(171, 171, 171, 0.37);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 7px solid black;
    outline: 3px solid rgb(115, 115, 115);
    z-index: 2;
}

.background-image {
    position: absolute;
    background-color: rgb(224, 224, 224);
    width: 286px;
    height: 354px;
    bottom: 0;
    border-radius: 0 0 43px 43px;
}

.headphones img {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.title {
    margin-top: 113px;
    font-size: 22px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgb(16, 42, 63);
    line-height: 30px;
}

.sub-title {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgb(16, 42, 63);
    line-height: 30px;
    font-weight: 350;
}

.Rocket-button {
    position: absolute;
    width: 115px;
    height: 44px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    top: 48px;
    left: 10px;
    color: rgb(23, 59, 89);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;

}

.Rocket-text {
    position: static;
}

.Catalog-button {
    position: absolute;
    width: 80px;
    height: 44px;
    background-color: rgb(23, 59, 89);
    border-radius: 10px;
    top: 48px;
    left: 136px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    padding-left: 5.5px;
    font-family: 'Inter', sans-serif;
    color: rgb(240, 240, 240);
}

.Catalog-button img {
    position: absolute;
    width: 8px;
    margin-left: 57px;
}

.Catalog-text {
    position: static;
}



.Menu-button {
    position: absolute;
    width: 50px;
    height: 44px;
    background-color: rgb(23, 59, 89);
    border-radius: 10px;
    top: 48px;
    right: 10px;

    display: flex;

}

.Menu-button img {
    position: absolute;
    width: 19px;
    margin-top: 18px;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}


.Product-button {
    position: absolute;
    width: 85px;
    height: 44px;
    background-color: rgb(23, 59, 89);
    border-radius: 10px;
    top: 225px;
    left: 10px;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.3px;
}

.Product-text {
    position: static
}

.tab-content {
    display: none;
}

.Description-button {
    position: absolute;
    width: 85px;
    height: 44px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    top: 225px;
    left: 100.5px;
    color: rgb(23, 59, 89);


    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.3px;
    font-weight: bold;

}

.Description-text {
    position: static;
}
.myDescription h1 {
   padding-left: 10px;
   padding-top: 5px;;
   font-family: 'Inter', sans-serif;
   font-size: 24px;
   
}


.background-description {
    position: absolute;
    background-color: rgb(250, 250, 250);
    width: 286px;
    height: 354px;
    bottom: 0;
    border-radius: 0 0 43px 43px;


}



.Cart-button {
    position: absolute;
    width: 85px;
    height: 44px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    top: 225px;
    right: 10px;
    color: rgb(23, 59, 89);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.3px;
    font-weight: bold;

}

.Cart-text {
    position: static;
}

.dynamic-island {
    position: absolute;
    width: 80px;
    height: 24px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 20px;
}

.time {
    position: absolute;
    top: 10px;
    left: 25px;
    color: rgb(55, 55, 55);
    font-size: 13px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.status img {
    right: 17px;
    top: 10px;
    position: absolute;
    width: 57px;
}

.down-bar {
    position: absolute;
    width: 105px;
    height: 3px;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(96, 96, 96);
    border-radius: 80px;
    z-index: 100;
}